@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    /* common values */
    --green: #7CB342;
    --blue: #00ACC1;
    --gray: #757575;
    --orange: #FB8C00;
    --red: #E53935;
}

html, body {
    margin: 0;
    overflow: hidden;

    background-image: url("background.png");
}

.content {
    height: 100vh;
    float: left;
}

#loading-screen {
    width: 100vw;
    height: 100vh;
    border: none;
    padding: 0;
}

#loading-bar {
    width: 150px;
}

#loading-screen #loading-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#map {
    width: 60vw;
}

#panel {
    width: 40vw;
}

footer {
    width: 40vw;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

#panel header {
    width: 40vw;
    height: 20vh;

    background-image: url("banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.module {
    height: 36vh;
    width: 16vw;
    margin: 0 1vw .5vh 1vw;
    padding: 1vh 1vw; 

    float: left;
}

.module .header {
    height: 6vh;
    width: 16vw;
    margin: 1.5vh 0;
}

.module .header .icon {
    height: 100%;
    width: 6vw;
    float: left;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.module .header h3 {
    height: 100%;
    width: 10vw;
    float: left;
    margin: 0;

    font-size: 3vh;
    line-height: 6vh;
    font-weight: 300;
}

.module #order-form {
    position: relative;
    top: calc(50% - 6vh);
    transform: translateY(-50%);
}

.module #order-form input[type="text"]{
    width: 13.5vw;
    height: 20px;
    float: left;
    margin: 0 .5vw .5vh 0;

    background: none;
    border: none;
    border-bottom: 2px solid var(--blue);
}

.module #order-form input[type="text"]:disabled, .module #order-form input[type="button"]:disabled{
    border-color: var(--gray);
    cursor: not-allowed;
}

.module #order-form .status-icon{
    width: 2vw;
    height: 20px;
    float: left;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.module #order-form .available {
    background-image: url("success.png");
}

.module #order-form .not-available {
    background-image: url("error.png");
}

.module #order-form input[type="button"]{
    width: 16vw;

    background: none;
    border: solid 3px #00ACC1;
    border-radius: 6px;
    color: black;
    cursor: pointer;
}

.module dialog {
    border: 8px solid var(--blue);
    border-radius: 10px;
    padding: 20px;

    font-size: 15px;
}

.module dialog .order-info {
    font-weight: lighter;
}

.module dialog .order-info h3{
    text-align: center;
}

.module dialog .order-info img{
    display: block;
    margin: 0 auto;
    width: 150px;
}

.module dialog .order-info .car{
    width: 48%;
    text-align: right;
    margin: 0 2% 0 0;
    display: inline-block;
}

.module dialog .order-info .pre{
    width: 48%;
    text-align: left;
    margin: 0 0 0 2%;
    display: inline-block;
}

.module dialog::backdrop {
    background-color: rgba(117, 117, 117, 0.75); /* --gray */
}

.module dialog button{
    display: block;
    margin: 5px auto;
    bottom: 0;
    position: relative;
}

#overview div.number {
    height: 5vh;
    width: 4.5vw;
    margin: .5vh 0 .5vh .5vw;
    display: inline-block;
    line-height: 6vh;
    font-size: 2.5vh;
    text-align: center;
    font-weight: bolder;
}

#overview p {
    display: inline-block;
    height: 5vh;
    width: 11vw;
    margin: .5vh 0;
    line-height: 6vh;
    font-weight: lighter;
    font-size: 2vh;
}

.module #car-list-container{
    height: 40vh;
}

#stats {
    width: 36vw;
}

#stats .element{
    border: 1px solid var(--gray);
    float: left;
    height: 3vh;
    box-sizing: border-box;

    line-height: 3vh;
    text-align: center;
    font-size: 1.5vh;
    overflow: hidden;
}

#stats .list-header{
    margin: 0;
    border: none;
    border-bottom: 1px solid var(--gray);
    
    line-height: 3vh;
    font-size: 1.8vh;
}

#stats .id{
    width: 10%;
}

#stats .status{
    width: 15%;
}

#stats .battery{
    width: 10%;
}

#stats .destination{
    width: 35%;
}

#stats .mileage{
    width: 10%;
}

#stats .warnings{
    width: 20%;
}

#stats ul{
    width: 100%;
    height: 24vh;
    margin: 0;
    padding: 0;
    clear: both;
    overflow-y: scroll;
    overflow-x: hidden;

    list-style: none;
}

#stats ul::-webkit-scrollbar { 
    display: none; 
}

#stats li{
    height: 3vh;
}

/* smartphone */
@media only screen and (max-width: 766px) {
html, body{
    overflow: scroll;
}

    #map, #panel, #panel header, footer {
        width: 100vw;
    }

    #map {
        height: 80vh;
    }

    .module {
        width: 46vw;
    }

    .module .header {
        width: 36vw;
    }
    
    .module .header .icon {
        width: 10vw;
    }

    .module .header h3 {
        width: 26vw;
    }

    .module #order-form input[type="text"]{
        width: 38.5vw;
    }
    
    .module #order-form .status-icon{
        width: 7vw;
    }
    
    .module #order-form input[type="button"]{
        width: 46vw;
    }

    #overview.module div.number{
        float: left;
        clear: both;
        width: 14.5vw;
    } 
    
    #overview.module p {
        float: left;
        width: 28.5vw;
    }

    #panel #stats.module {
        width: 96vw;
    }

    footer {
        position: initial;
        font-size: 10px;
    }
}
