<!DOCTYPE html>
<html>
    <head>
        <title>AUTO</title>

        <link rel="shortcut icon" href="auto/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="auto/static/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="auto/static/style.css">

        <!-- GitHub button script -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>

        <script>var exports = {};</script>
        <script src="auto/static/script.js"></script>
    </head>
    <body>
        
        <div id="map" class="content"></div>
        <div id="panel" class="content">
            <header>
            </header>
        </div>
        <footer>The simulator is made by Jakub Riegel. Discover more about it on GitHub
            <!-- GitHub star button -->
        <a class="github-button" href="https://github.com/jakubriegel/AUTO" aria-label="Star jakubriegel/AUTO on GitHub">Star me</a>
        </footer>
        <!-- Google Maps API -->
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ googleMapsApiKey }}&libraries=places&">
        </script>

    </body>
</html>