<!DOCTYPE html>
<html>
    <head>
        <title>AUTO</title>

        <link rel="shortcut icon" href="auto/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="auto/static/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="auto/static/style.css">

        <script>var exports = {};</script>
        <script src="auto/static/script.js"></script>
    </head>
    <body>
        
        <div id="map" class="content"></div>
        <div id="panel" class="content">
            <header>
            </header>
        </div>

        <!-- Google Maps API -->
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfTruPldaz027vUHZKmRvRaAD-VCrdmIk&libraries=places&">
        </script>

    </body>
</html>